name: Alerte Emploi
on:
  schedule:
 - cron: '0 8,11 * * *' # S'exécute à 9h et 12h (heure UTC+1)
  workflow_dispatch: # Permet de le lancer manuellement pour tester

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install requests beautifulsoup4
      - name: Run Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python bot.py
